.type-3067 body {
  font-family: Raleway;
}
.type-3067 .header {
  margin: 40px 0;
}
.type-3067 .header .btn-nav {
  background-color: #000000;
  color: #fff;
  margin: 10px 5px 0;
  padding: 10px 20px;
}
.type-3067 .header .active,
.type-3067 .header .btn-nav:hover {
  background-color: #28a745;
  color: #fff;
}
.type-3067 .alphabet {
  margin: 0 0 20px;
}
.type-3067 .alphabet a {
  margin-right: -5px;
  padding: 3px 8px;
  text-decoration: none;
  color: #000;
  border: 1px solid #e9e9e9;
  font-size: 14px;
  line-height: 18px;
}
.type-3067 .entries {
  margin: 0 11px;
}
.type-3067 table,
.type-3067 th,
.type-3067 td,
.type-3067 tr {
  border: 1px solid black;
}
.type-3067 table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px !important;
  margin-bottom: 18px !important;
}
.type-3067 .table th,
.type-3067 .table td {
  vertical-align: middle;
}
.type-3067 .right {
  text-align: right;
}
.type-3067 .info {
  padding-top: 8px;
}
.type-3067 .pagination .page-item .page-link {
  color: #000;
}
.type-3067 .pagination .page-item .page-link .active,
.type-3067 .pagination .page-item .page-link:hover {
  background-color: #28a745;
  color: #fff;
}
